@media (max-width: 991px) {
    .fullscreen .pcoded-header {
        background-color: #3f4d67;
    }
}

.pcoded-header {
    position: sticky;
    background-color: #ffffff;
}

.logo {
    color: #ffffff;
}

.icon-user {
    margin-right: -12px;
}

.profile-notification {
    transform: translate(-254px, 63px) !important;
}

body {
    .d-f {
        display: flex;
    }
    .fd-r {
        flex-direction: row;
    }
    a,
    a:hover,
    .MuiIcon-root,
    .MuiFormLabel-root.Mui-focused,
    // .pcoded-navbar .pcoded-inner-navbar li > a.active,
    .pcoded-navbar .pcoded-inner-navbar li > a:focus,
    .pcoded-navbar .pcoded-inner-navbar li > a:hover,
    .MuiRadio-colorSecondary.Mui-checked,
    .MuiSwitch-colorSecondary.Mui-checked {
        color: #ff5f02;
        outline: none;
    }

    .pcoded-navbar .pcoded-inner-navbar > li.active:after,
    .pcoded-navbar .pcoded-inner-navbar > li.pcoded-trigger:after,
    .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
        background-color: #ff5f02;
    }
    .MuiInputLabel-outlined.MuiInputLabel-shrink,
    .MuiFormLabel-root.Mui-focused {
        font-size: 16px;
    }
    .btn {
        display: flex;
        align-items: center;
    }
    .btn-primary.disabled,
    .btn-primary:disabled {
        background: #748892;
        pointer-events: none;
        opacity: 0.6;
    }
    .MuiTypography-h6 {
        color: inherit;
    }
    button,
    .MuiButton-label {
        text-transform: capitalize;
        &:focus {
            outline: none;
        }
    }
    .c-sidebar {
        background-color: #2f353a;
        .c-sidebar-brand {
            background-color: #2f353a;
            color: #ffffff;
        }
        .c-sidebar-nav-link,
        .c-sidebar .c-sidebar-nav-dropdown-toggle {
            &:hover {
                background-color: #1dc4e9;
            }
        }
        .c-sidebar-nav-item .c-active {
            background-color: #ffffff34;
            &:hover {
                background-color: #1dc4e9;
            }
        }
    }
    .MuiIconButton-root.Mui-disabled {
        opacity: 0;
    }
    .MuiButton-containedPrimary {
        background-color: #1dc4e9;
        outline: none;
        &:hover {
            background-color: #1dc4e9b6;
        }
    }
    .MuiButton-outlinedPrimary {
        border: 1px solid #1dc4e9;
        color: #1dc4e9;
        background-color: #ffffff;
        &:hover {
            border: 1px solid #188fff00;
            color: #ffffff;
            background-color: #1dc4e9;
        }
    }
    .btn-outline-danger {
        border-color: #ff5f02;
        color: #ff5f02;
        &:hover {
            color: #ffffff;
            background-color: #ff5f02;
        }
    }
    .MuiInput-underline:after {
        border-bottom: 2px solid #ff5f02;
    }
    .MTableToolbar-spacer-7 {
        flex: 1 1 0%;
    }
    .MuiTypography-subtitle1 {
        font-weight: 600;
        color: #202223;
        font-size: 15px;
    }

    .MuiCardHeader-root {
        padding: 21px 25px 0 16px;
        .MuiTypography-h5 {
            font-size: 15px;
            font-weight: 600;
            color: #505050;
        }
        .MuiCardHeader-action a {
            display: flex;
            align-items: center;
        }
    }
    .MuiAppBar-colorPrimary {
        background-color: #ffffff;
        margin-top: 10px;
        bottom: 0;
        top: auto;
    }

    .b-brand .b-bg {
        background: #fff;
    }
    .pcoded-navbar .header-logo {
        .logo {
            opacity: 1;
            display: block;
        }
        .b-bg {
            display: none;
            .logo-mini {
                transform: none;
                opacity: 0;
            }
        }
    }
    .pcoded-navbar.navbar-collapsed .header-logo {
        .logo {
            opacity: 0;
            display: none;
        }
        .b-bg {
            display: flex;
            justify-content: center;
            align-items: center;
            .logo-mini {
                transform: none;
                opacity: 1;
            }
        }
    }
    .pcoded-navbar.navbar-collapsed:hover .header-logo {
        .logo {
            opacity: 1;
            display: block;
        }
        .b-bg {
            display: none;
            .logo-mini {
                transform: none;
                opacity: 0;
            }
        }
    }

    .MuiInputLabel-outlined {
        font-size: 14px;
    }
    .card,
    .c-app {
        background-color: #f6f6f7;
        border: none;
    }
    .pcoded-header .main-search.open .input-group .search-close {
        margin-left: 10px;
    }
    .pcoded-header .main-search .input-group .search-btn {
        padding: 15px;
        border: 1px solid #ffffff;
        &:hover {
            background-color: #f4f7fa;
            i {
                color: #04a9f5;
            }
        }
    }
    .pcoded-header .main-search.open .input-group .search-btn {
        margin-left: 10px;
        &:hover {
            background-color: #f4f7fa;
            border: 1px solid #04a9f5;
            i {
                color: #04a9f5;
            }
        }
    }
    //Product.jsx
    .box-image {
        position: relative;
        display: block;
        overflow: hidden;
        background: #ffffff;
        width: 65px;
        max-width: 100%;
        border-radius: 5px;
        border: 0.1rem solid #e1e3e5;
        margin-left: auto;
        margin-right: auto;
        &::after {
            content: "";
            display: block;
            height: 60px;
        }
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            color: #637381;
        }
    }

    .ant-drawer-content .upload-design .ant-upload-list,
    .pcoded-content .upload-design .ant-upload-list {
        display: block;
        .ant-upload-list-item-actions {
            display: none;
        }
        .ant-upload-item {
            position: relative;

            .ant-upload-list-item-info {
                cursor: default;
                &::before {
                    left: 0;
                }
            }
            .delete-image {
                opacity: 0;
                position: absolute;
                z-index: 10;
                top: 0;
                right: 0;
                color: #ffffff;
                font-size: 16px;
                transition: 0.3s;
                border-radius: 0 0 0 20px;
            }
            .preview-image {
                opacity: 0;
                position: absolute;
                z-index: 10;
                top: 0;
                left: 0;
                color: #ffffff;
                font-size: 16px;
                transition: 0.3s;
                border-radius: 0 0 20px 0;
            }
            &:hover {
                .delete-image {
                    opacity: 1;
                    transition: 0.3s;
                    background: #00000000;
                    &:hover {
                        background: #ff5f02;
                    }
                }
                .preview-image {
                    opacity: 1;
                    transition: 0.3s;
                    background: #00000000;
                    &:hover {
                        background: #ff5f02;
                    }
                }
            }
            .ant-upload.ant-upload-drag {
                border: 1px dashed #ff5f02;
                &:hover {
                    border: 1px dashed #ff5f02;
                }
            }
        }
    }
    .pcoded-content .ant-upload-list,
    .ant-upload-picture-card-wrapper .ant-upload-list-picture-card {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 15px;
        padding: 0;
        margin: 0;
        &::before {
            display: none;
        }
        .ant-upload-list-picture-card-container {
            width: 100%;
            height: auto;
            padding: 0;
            margin: 0;
            cursor: pointer;
            .ant-upload-list-item-actions {
                display: none;
            }
            &:first-child {
                width: 100%;
                height: auto;
                grid-row: 1 / span 2;
                grid-column: 1 / span 2;
            }
        }
        .ant-upload.ant-upload-select-picture-card {
            width: 100%;
            height: 0;
            margin-bottom: 0;
            padding-bottom: calc(100% - 0.12rem);
            position: relative;
            border: none;
            > .ant-upload {
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .dropzone-mini {
                position: absolute;
                top: 0;
                left: 0;
                .ant-upload-drag-container {
                    font-size: 12px;
                }
            }
        }
        .ant-upload-draggable-list-item {
            position: relative;
            .delete-image {
                opacity: 0;
                position: absolute;
                z-index: 10;
                top: 0;
                right: 0;
                color: #ffffff;
                font-size: 20px;
                transition: 0.3s;
                border-radius: 0 0 0 20px;
            }
            .preview-image {
                opacity: 0;
                position: absolute;
                z-index: 10;
                top: 0;
                right: left;
                color: #ffffff;
                font-size: 20px;
                transition: 0.3s;
                border-radius: 0 0 20px 0;
            }
            &:hover {
                .delete-image {
                    opacity: 1;
                    transition: 0.3s;
                    background: #00000000;
                    &:hover {
                        background: #ff5f02;
                    }
                }
                .preview-image {
                    opacity: 1;
                    transition: 0.3s;
                    background: #00000000;
                    &:hover {
                        background: #ff5f02;
                    }
                }
            }
            .ant-upload.ant-upload-drag {
                border: 1px dashed #ff5f02;
                &:hover {
                    border: 1px dashed #ff5f02;
                }
            }
        }
    }
    .ant-upload-list-picture .ant-upload-list-item,
    .ant-upload-list-picture-card .ant-upload-list-item {
        padding: 0;
    }
    .ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-eye,
    .ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-download,
    .ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-delete {
        font-size: 22px;
    }
    .ant-modal {
        top: 150px;
    }
    .ant-drawer {
        z-index: 13;
        .ant-drawer-body {
            padding: 24px 24px 0 24px;
        }
    }
    .MuiCard-root {
        overflow: visible;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        box-shadow: none;
        border-color: #ff5f02;
    }
    .MuiPaper-root div:last-child > div > div {
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
    .css-1pahdxg-control {
        border-color: #ff5f02;
        box-shadow: 0 0 0 1px #ff5f02;
        &:hover {
            border-color: #ff5f02;
        }
    }
    .css-26l3qy-menu {
        z-index: 10;
        .css-4ljt47-MenuList {
            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px #808080;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: linear-gradient(135deg, #f7b733 0%, #fc4a1a 70%);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
                // background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(252, 74, 26, 1) 70%);
                opacity: 0.8s;
            }
        }
    }

    .btn-primary {
        &:focus,
        &.focus {
            background: #ff5f02;
        }
        background: #ff5f02;
        // linear-gradient(135deg, #f7b733 0%, #fc4a1a 70%);
        border: none;
        &:hover {
            background: #fa792e;
            // linear-gradient(135deg, #f8d388 0%, #f68363 70%);
        }
    }
    .pcoded-navbar.navbar-collapsed:hover .pcoded-inner-navbar > li.pcoded-trigger .pcoded-submenu li a.active {
        color: #1dc4e9;
    }
    .btn-order {
        font-size: medium;
        font-family: Poppins-Regular, sans-serif;
    }
    .MuiToolbar-root .MuiIconButton-root {
        border-radius: 0%;
        padding: 0;
        margin: 12px;
        &:hover {
            background-color: rgba(255, 255, 255, 0);
        }
    }
    .sale-channel-checkbox .ant-checkbox-group-item {
        width: fit-content;
        font-size: 18px;
    }
    .auto-pay-dialog {
        overflow-y: visible;
        .css-26l3qy-menu {
            z-index: 9999;
        }
    }
    .navbar {
        background: #1c2237;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        top: 0;
        z-index: 999;
      }
      
      .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
      }
      
      .container {
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 50px;
        padding-left: 50px;
      }
      
      .navbar-logo {
        color: #fff;
        justify-self: start;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        align-items: center;
      }
      
      .navbar-icon {
        margin-right: 0.5rem;
      }
      
      .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        text-align: center;
        margin-bottom: 0;
      }
      
      
      
      .nav-links {
        color: #fff;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem 1rem;
        height: 100%;
      }
      .fa-bars {
        color: #fff;
      }
      
      .menu-icon {
        display: none;
      }
      .nav-icon{
        width: 40%;
      }
      .btn-mobile{
        text-align: center;
        border-radius: 4px;
        width: 100%;
        text-decoration: none;
        font-size: 24px;
        background-color: transparent;
        padding: 10px 10px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
        background-color: transparent;
        color: #fff;
        padding: 8px 20px;
        border: 1px solid var(--primary);
        transition: all 0.3s ease-out;
      }
      
      @media screen and (max-width: 960px) {
        .NavbarItems {
          position: relative;
        }
        .navbar-logo{
            height: 43px;
        }
        .nav-menu {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 70vh;
          position: absolute;
          top: 80px;
          left: -100%;
          opacity: 1;
          transition: all 0.5s ease;
        }
      
        .nav-menu.active {
          background: #1c2237;
          left: 0;
          opacity: 1;
          transition: all 0.6s ease;
          z-index: 1;
        }
      
        .nav-links {
          text-align: center;
          padding: 2rem;
          width: 100%;
          display: table;
        }
      
        .nav-links:hover {
          color: #fa792e;
          transform: scale(1.2);
          transition: all 0.3s ease;
        }
      
        .nav-item:hover {
          border: none;
        }
      
        .nav-item {
          width: 100%;
        }
      
        .navbar-logo {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(25%, 50%);
        }
      
        .menu-icon {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          color: #FFF;
          transform: translate(-100%, 60%);
          font-size: 1.8rem;
          cursor: pointer;
        }
      
        .fa-times {
          color: #fff;
          font-size: 2rem;
        }
      
        .nav-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 120px;
        }
        .nav-icon{
          width: 25%;
        }
      }

      h2{
          font-size: xx-large;
      }

      .footer-container {
        background-color: #1c2237;
        padding: 2rem 0 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .footer-subscription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 24px;
        padding: 24px;
        color: #fff;
      }
      
      .footer-subscription > p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
      }
      
      .footer-subscription-heading {
        margin-bottom: 24px;
        font-size: 24px;
      }
      
      .footer-subscription-text {
        margin-bottom: 24px;
        font-size: 20px;
      }
      .footer-input {
        padding: 8px;
        border-radius: 2px;
        margin-right: 10px;
        outline: none;
        border: none;
        font-size: 18px;
        margin-bottom: 16px;
        border: 1px solid #fff;
      }
      
      .footer-links {
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
      }
      
      .footer-link-wrapper {
        display: flex;
        width: 50%;
      }
      
      .footer-link-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 16px;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
      }
      
      .footer-link-items h2 {
        margin-bottom: 16px;
      }
      
      .footer-link-items > h2 {
        color: #fff;
      }
      
      .footer-link-items a {
        color: #fff;
        text-decoration: none;
        margin-bottom: 0.5rem;
      }
      
      .footer-link-items a:hover {
        color: #e9e9e9;
        transition: 0.3s ease-out;
      }
      
      .footer-email-form h2 {
        margin-bottom: 2rem;
      }
      
      .footer-input::placeholder {
        color: #b1b1b1;
      }
      
      /* Social Icons */
      .social-icon-link {
        color: #fff;
        font-size: 24px;
      }
      
      .social-media {
        max-width: 1000px;
        width: 100%;
      }
      
      .social-media-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1000px;
        margin: 40px auto 0 auto;
      }
      
      .social-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 240px;
      }
      
      .social-logo {
        color: #fff;
        justify-self: start;
        margin-left: 20px;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
      }
      
      .website-rights {
        color: #fff;
        margin-bottom: 16px;
      }
      
      @media screen and (max-width: 820px) {
        .footer-links {
          padding-top: 2rem;
        }
      
        .footer-input {
          width: 100%;
        }
      
        .btn {
          width: 100%;
        }
      
        .footer-link-wrapper {
          flex-direction: column;
        }
      
        .social-media-wrap {
          flex-direction: column;
        }
      }


      
      .auth-wrapper{
          color: #fff;
      }
      .home__hero-section {
        color: #fff;
        padding: 100px 0;
      }
      
      .home__hero-row {
        align-items: center;
      }
      
      .row {
        display: flex;
        margin-right: -15px;
        margin-bottom: -15px;
        margin-left: -15px;
        flex-wrap: wrap;
        align-content: stretch;
      }
      
      .col {
        margin-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
        flex: 1;
        max-width: 50%;
        flex-basis: 50%;
      }
      
      .home__hero-text-wrapper {
        max-width: 540px;
        padding-top: 0;
        padding-bottom: 60px;
      }
      
      .top-line {
        color: #f00946;
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        margin-bottom: 16px;
      }
      
      .heading {
        margin-bottom: 24px;
        font-size: 48px;
        line-height: 1.1;
        font-weight: 600;
        color: #f7f8fa;
      }
      
      .dark {
        color: #1c2237;
      }
      
      .darkBg {
        background-color: #1c2237;
      }
      
      .home__hero-subtitle {
        max-width: 440px;
        margin-bottom: 35px;
        font-size: 18px;
        line-height: 24px;
      }
      
      .home__hero-img-wrapper {
        max-width: 555px;
      }
      
      .home__hero-img {
        max-width: 95%;
        margin-top: 0;
        margin-right: 0;
        margin-left: 10px;
        padding-right: 0;
      }
      
      img {
        border: 0;
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
      }
      
      @media screen and (max-width: 991px) {
        .container {
          padding-right: 30px;
          padding-left: 30px;
        }
      }
      
      @media screen and (max-width: 768px) {
        .home__hero-text-wrapper {
          padding-bottom: 65px;
        }
      
        .col {
          max-width: 100%;
          flex-basis: 100%;
        }
      }
}
