@media (max-width: 991px) {
    .fullscreen .pcoded-header {
        background-color: #3f4d67;
    }
}

.pcoded-header {
    position: sticky;
    background-color: #ffffff;
}

.logo {
    color: #ffffff;
}

.icon-user {
    margin-right: -12px;
}

.profile-notification {
    transform: translate(-254px, 63px) !important;
}

body {
    .d-f {
        display: flex;
    }
    .fd-r {
        flex-direction: row;
    }
    a,
    a:hover,
    .MuiIcon-root,
    .MuiFormLabel-root.Mui-focused,
    // .pcoded-navbar .pcoded-inner-navbar li > a.active,
    .pcoded-navbar .pcoded-inner-navbar li > a:focus,
    .pcoded-navbar .pcoded-inner-navbar li > a:hover,
    .MuiRadio-colorSecondary.Mui-checked,
    .MuiSwitch-colorSecondary.Mui-checked {
        color: #ff5f02;
        outline: none;
    }

    .pcoded-navbar .pcoded-inner-navbar > li.active:after,
    .pcoded-navbar .pcoded-inner-navbar > li.pcoded-trigger:after,
    .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
        background-color: #ff5f02;
    }
    .MuiInputLabel-outlined.MuiInputLabel-shrink,
    .MuiFormLabel-root.Mui-focused {
        font-size: 16px;
    }
    .btn {
        display: flex;
        align-items: center;
    }
    .btn-primary.disabled,
    .btn-primary:disabled {
        background: #748892;
        pointer-events: none;
        opacity: 0.6;
    }
    .MuiTypography-h6 {
        color: inherit;
    }
    button,
    .MuiButton-label {
        text-transform: capitalize;
        &:focus {
            outline: none;
        }
    }
    .c-sidebar {
        background-color: #2f353a;
        .c-sidebar-brand {
            background-color: #2f353a;
            color: #ffffff;
        }
        .c-sidebar-nav-link,
        .c-sidebar .c-sidebar-nav-dropdown-toggle {
            &:hover {
                background-color: #1dc4e9;
            }
        }
        .c-sidebar-nav-item .c-active {
            background-color: #ffffff34;
            &:hover {
                background-color: #1dc4e9;
            }
        }
    }
    .MuiIconButton-root.Mui-disabled {
        opacity: 0;
    }
    .MuiButton-containedPrimary {
        background-color: #1dc4e9;
        outline: none;
        &:hover {
            background-color: #1dc4e9b6;
        }
    }
    .MuiButton-outlinedPrimary {
        border: 1px solid #1dc4e9;
        color: #1dc4e9;
        background-color: #ffffff;
        &:hover {
            border: 1px solid #188fff00;
            color: #ffffff;
            background-color: #1dc4e9;
        }
    }
    .btn-outline-danger {
        border-color: #ff5f02;
        color: #ff5f02;
        &:hover {
            color: #ffffff;
            background-color: #ff5f02;
        }
    }
    .MuiInput-underline:after {
        border-bottom: 2px solid #ff5f02;
    }
    .MTableToolbar-spacer-7 {
        flex: 1 1 0%;
    }
    .MuiTypography-subtitle1 {
        font-weight: 600;
        color: #202223;
        font-size: 15px;
    }

    .MuiCardHeader-root {
        padding: 21px 25px 0 16px;
        .MuiTypography-h5 {
            font-size: 15px;
            font-weight: 600;
            color: #505050;
        }
        .MuiCardHeader-action a {
            display: flex;
            align-items: center;
        }
    }
    .MuiAppBar-colorPrimary {
        background-color: #ffffff;
        margin-top: 10px;
        bottom: 0;
        top: auto;
    }

    .b-brand .b-bg {
        background: #fff;
    }
    .pcoded-navbar .header-logo {
        .logo {
            opacity: 1;
            display: block;
        }
        .b-bg {
            display: none;
            .logo-mini {
                transform: none;
                opacity: 0;
            }
        }
    }
    .pcoded-navbar.navbar-collapsed .header-logo {
        .logo {
            opacity: 0;
            display: none;
        }
        .b-bg {
            display: flex;
            justify-content: center;
            align-items: center;
            .logo-mini {
                transform: none;
                opacity: 1;
            }
        }
    }
    .pcoded-navbar.navbar-collapsed:hover .header-logo {
        .logo {
            opacity: 1;
            display: block;
        }
        .b-bg {
            display: none;
            .logo-mini {
                transform: none;
                opacity: 0;
            }
        }
    }

    .MuiInputLabel-outlined {
        font-size: 14px;
    }
    .card,
    .c-app {
        background-color: #f6f6f7;
        border: none;
    }
    .pcoded-header .main-search.open .input-group .search-close {
        margin-left: 10px;
    }
    .pcoded-header .main-search .input-group .search-btn {
        padding: 15px;
        border: 1px solid #ffffff;
        &:hover {
            background-color: #f4f7fa;
            i {
                color: #04a9f5;
            }
        }
    }
    .pcoded-header .main-search.open .input-group .search-btn {
        margin-left: 10px;
        &:hover {
            background-color: #f4f7fa;
            border: 1px solid #04a9f5;
            i {
                color: #04a9f5;
            }
        }
    }
    //Product.jsx
    .box-image {
        position: relative;
        display: block;
        overflow: hidden;
        background: #ffffff;
        width: 65px;
        max-width: 100%;
        border-radius: 5px;
        border: 0.1rem solid #e1e3e5;
        margin-left: auto;
        margin-right: auto;
        &::after {
            content: "";
            display: block;
            height: 60px;
        }
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            color: #637381;
        }
    }

    .ant-drawer-content .upload-design .ant-upload-list,
    .pcoded-content .upload-design .ant-upload-list {
        display: block;
        .ant-upload-list-item-actions {
            display: none;
        }
        .ant-upload-item {
            position: relative;

            .ant-upload-list-item-info {
                cursor: default;
                &::before {
                    left: 0;
                }
            }
            .delete-image {
                opacity: 0;
                position: absolute;
                z-index: 10;
                top: 0;
                right: 0;
                color: #ffffff;
                font-size: 16px;
                transition: 0.3s;
                border-radius: 0 0 0 20px;
            }
            .preview-image {
                opacity: 0;
                position: absolute;
                z-index: 10;
                top: 0;
                left: 0;
                color: #ffffff;
                font-size: 16px;
                transition: 0.3s;
                border-radius: 0 0 20px 0;
            }
            &:hover {
                .delete-image {
                    opacity: 1;
                    transition: 0.3s;
                    background: #00000000;
                    &:hover {
                        background: #ff5f02;
                    }
                }
                .preview-image {
                    opacity: 1;
                    transition: 0.3s;
                    background: #00000000;
                    &:hover {
                        background: #ff5f02;
                    }
                }
            }
            .ant-upload.ant-upload-drag {
                border: 1px dashed #ff5f02;
                &:hover {
                    border: 1px dashed #ff5f02;
                }
            }
        }
    }
    .pcoded-content .ant-upload-list,
    .ant-upload-picture-card-wrapper .ant-upload-list-picture-card {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 15px;
        padding: 0;
        margin: 0;
        &::before {
            display: none;
        }
        .ant-upload-list-picture-card-container {
            width: 100%;
            height: auto;
            padding: 0;
            margin: 0;
            cursor: pointer;
            .ant-upload-list-item-actions {
                display: none;
            }
            &:first-child {
                width: 100%;
                height: auto;
                grid-row: 1 / span 2;
                grid-column: 1 / span 2;
            }
        }
        .ant-upload.ant-upload-select-picture-card {
            width: 100%;
            height: 0;
            margin-bottom: 0;
            padding-bottom: calc(100% - 0.12rem);
            position: relative;
            border: none;
            > .ant-upload {
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .dropzone-mini {
                position: absolute;
                top: 0;
                left: 0;
                .ant-upload-drag-container {
                    font-size: 12px;
                }
            }
        }
        .ant-upload-draggable-list-item {
            position: relative;
            .delete-image {
                opacity: 0;
                position: absolute;
                z-index: 10;
                top: 0;
                right: 0;
                color: #ffffff;
                font-size: 20px;
                transition: 0.3s;
                border-radius: 0 0 0 20px;
            }
            .preview-image {
                opacity: 0;
                position: absolute;
                z-index: 10;
                top: 0;
                right: left;
                color: #ffffff;
                font-size: 20px;
                transition: 0.3s;
                border-radius: 0 0 20px 0;
            }
            &:hover {
                .delete-image {
                    opacity: 1;
                    transition: 0.3s;
                    background: #00000000;
                    &:hover {
                        background: #ff5f02;
                    }
                }
                .preview-image {
                    opacity: 1;
                    transition: 0.3s;
                    background: #00000000;
                    &:hover {
                        background: #ff5f02;
                    }
                }
            }
            .ant-upload.ant-upload-drag {
                border: 1px dashed #ff5f02;
                &:hover {
                    border: 1px dashed #ff5f02;
                }
            }
        }
    }
    .ant-upload-list-picture .ant-upload-list-item,
    .ant-upload-list-picture-card .ant-upload-list-item {
        padding: 0;
    }
    .ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-eye,
    .ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-download,
    .ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-delete {
        font-size: 22px;
    }
    .ant-modal {
        top: 150px;
    }
    .ant-drawer {
        z-index: 13;
        .ant-drawer-body {
            padding: 24px 24px 0 24px;
        }
    }
    .MuiCard-root {
        overflow: visible;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        box-shadow: none;
        border-color: #ff5f02;
    }
    .MuiPaper-root div:last-child > div > div {
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
    .css-1pahdxg-control {
        border-color: #ff5f02;
        box-shadow: 0 0 0 1px #ff5f02;
        &:hover {
            border-color: #ff5f02;
        }
    }
    .css-26l3qy-menu {
        z-index: 10;
        .css-4ljt47-MenuList {
            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px #808080;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: linear-gradient(135deg, #f7b733 0%, #fc4a1a 70%);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
                // background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(252, 74, 26, 1) 70%);
                opacity: 0.8s;
            }
        }
    }

    .btn-primary {
        &:focus,
        &.focus {
            background: #ff5f02;
        }
        background: #ff5f02;
        // linear-gradient(135deg, #f7b733 0%, #fc4a1a 70%);
        border: none;
        &:hover {
            background: #fa792e;
            // linear-gradient(135deg, #f8d388 0%, #f68363 70%);
        }
    }
    .pcoded-navbar.navbar-collapsed:hover .pcoded-inner-navbar > li.pcoded-trigger .pcoded-submenu li a.active {
        color: #1dc4e9;
    }
    .btn-order {
        font-size: medium;
        font-family: Poppins-Regular, sans-serif;
    }
    .MuiToolbar-root .MuiIconButton-root {
        border-radius: 0%;
        padding: 0;
        margin: 12px;
        &:hover {
            background-color: rgba(255, 255, 255, 0);
        }
    }
    .sale-channel-checkbox .ant-checkbox-group-item {
        width: fit-content;
        font-size: 18px;
    }
    .auto-pay-dialog {
        overflow-y: visible;
        .css-26l3qy-menu {
            z-index: 9999;
        }
    }
}
@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot");
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot") format("embedded-opentype"),
        url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2"),
        url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff") format("woff"),
        url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf") format("truetype"),
        url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg") format("svg");
}
select {
    font-family: FontAwesome;
}

//custom height for recharts libs CustomPieChart.jsx
.recharts-responsive-container {
    height: 18.8rem !important;
}

//margin right for date picker
.MuiFormControl-root {
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.span-sd {
    line-height: 2.2rem !important;
}

.span-ed {
    margin-top: 1.2rem !important;
}
.AppWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fcfdff;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale3D(0.95, 0.95, 0.95);
    }
    to {
        opacity: 1;
        transform: scale3D(1, 1, 1);
    }
}
* {
    box-sizing: border-box;
}
.FormStripe {
    animation: fade 200ms ease-out;
}
.FormGroupStripe {
    margin: 0 15px 20px;
    padding: 0;
    border-style: none;
    background-color: #7795f8;
    will-change: opacity, transform;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
    border-radius: 4px;
}
.FormRowStripe {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    border-top: 1px solid #819efc;
}

.FormRowStripe:first-child {
    border-top: none;
}

.FormRowLabelStripe {
    margin-top: 0.5rem;
    width: 15%;
    min-width: 70px;
    padding: 11px 15px 11px 0;
    color: #c4f0ff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-family: Roboto, Open Sans, Segoe UI, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@keyframes void-animation-out {
    0%,
    to {
        opacity: 1;
    }
}
.FormRowInputStripe:-webkit-autofill {
    -webkit-text-fill-color: #fce883;
    /* Hack to hide the default webkit autofill */
    transition: background-color 100000000s;
    animation: 1ms void-animation-out;
}

.FormRowInputStripe {
    font-size: 16px;
    width: 100%;
    padding: 11px 15px 11px 0;
    color: #fff;
    background-color: transparent;
    animation: 1ms void-animation-out;
    appearance: none;
    outline: none;
    border-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    letter-spacing: normal;
    word-spacing: normal;
}

.FormRowInputStripe::placeholder {
    color: #87bbfd;
}

.StripeElement--webkit-autofill {
    background: transparent !important;
}

.StripeElement {
    width: 100%;
    padding: 11px 15px 11px 0;
}

.SubmitButtonStripe {
    display: block;
    font-size: 16px;
    width: calc(100% - 30px);
    height: 40px;
    margin: 40px 15px 0;
    background-color: #f06e23;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    will-change: transform, background-color, box-shadow;

    appearance: none;
    outline: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    border-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.SubmitButtonStripe:active {
    background-color: #eb6631;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #e2bf98;
    transform: scale(0.99);
}

.SubmitButton.SubmitButton--error {
    transform: translateY(15px);
}
.SubmitButton.SubmitButton--error:active {
    transform: scale(0.99) translateY(15px);
}

.SubmitButtonStripe:disabled {
    opacity: 0.5;
    cursor: default;
    background-color: #7795f8;
    box-shadow: none;
}

.ErrorMessageStripe {
    color: #f54402;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 0 15px;
    font-size: 13px;
    margin-top: 0px;
    width: 100%;
    transform: translateY(-15px);
    opacity: 0;
    animation: fade 150ms ease-out;
    animation-delay: 50ms;
    animation-fill-mode: forwards;
    will-change: opacity, transform;

    font-family: Roboto, Open Sans, Segoe UI, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

.ErrorMessageStripe svg {
    margin-right: 10px;
}
.ResultStripe {
    margin-top: 50px;
    text-align: center;
    animation: fade 200ms ease-out;
}
.ResultTitleStripe {
    color: #fff;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 17px;
    text-align: center;
}

.ResultMessageStripe {
    color: #9cdbff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 1.6em;
    text-align: center;
}
.ResetButton {
    border: 0;
    cursor: pointer;
    background: transparent;
}
